{{ partial "head.html" . }}
<div id="container">
	{{ partial "header.html" . }}
	{{ partial "navbar.html" . }}

	<header class="page-header">
	<div class="base">
		<div class="thumb" style="background-image: url('{{ .Site.BaseURL }}/img/guitar/{{ .Source.File.BaseFileName }}/thumb.jpg');"></div>
		<div class="triangle"></div>
		<h2>{{ .Title }} - {{ .Params.buildyear }}</h2>
	</div>
	</header>


	<div class="base">
	<div class="details">
		<h2>Technical</h2>
		<h3>Woods</h3>
		<table>
		<tbody>
			<tr>
				<td>Top</td>
				<td>{{ .Params.wt_top }}</td>
			</tr>
      <tr>
        {{ if eq .Params.guitar_type "electric"}}
        <td>Body</td>
        {{ else }}
        <td>Sides and back</td>
        {{ end }}
				<td>{{ .Params.wt_sides_and_back }}</td>
			</tr>
			<tr>
				<td>Neck</td>
				<td>{{ .Params.wt_neck }}</td>
			</tr>
			<tr>
				<td>Bridge</td>
				<td>{{ .Params.wt_bridge }}</td>
			</tr>
			<tr>
				<td>Fingerboard</td>
				<td>{{ .Params.wt_fingerboard }}</td>
			</tr>
			<tr>
				<td>Headstock overlay</td>
				<td>{{ .Params.wt_headstock_overlay }}</td>
			</tr>
		</tbody>
		</table>

		<h3>Finish</h3>
		<p>
			{{ .Params.finish }}
		</p>

		<h3>Mechanics</h3>
		<p>
			{{ .Params.mechanics }}
    </p>

    {{ if isset .Params "amplifier" }}
    <h3>Amplifier</h3>
    <p>
      {{ .Params.amplifier }}
    </p>
    {{ end }}

	</div>
	</div>

	<div class="base markdown">
		{{ .Content }}
	</div>
	{{ partial "footer.html" . }}
</div>
{{ partial "foot.html" . }}
