@font-face
{
	font-family: OpenSans-Light;
	src: url("/open-sans/OpenSans-Light.ttf");
}
@font-face
{
	font-family: OpenSans-Regular;
	src: url("/open-sans/OpenSans-Regular.ttf");
}

html
{
	font-family: OpenSans-Light;
	background-color: black;
}

nav
{
	width: 100%;
	display: block;
	background-color: black;
	font-family: OpenSans-Regular;
	position: fixed;
	z-index: 1;
}
	nav ul
	{
		display: inline-block;
		padding: 0;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 100px;
	}
		nav ul li
		{
			display: inline-block;
			padding: 14px;
		}
			nav ul li a
			{
				text-transform: uppercase;
				color: white;
				text-decoration: none;
			}

			nav ul li a:hover
			{
				color: gray;
				border-bottom: 2px solid gray;
			}
header.bg-color
{
	width: 100%;
	background-image: url("/img/background.jpg");
	padding: 0;
}

footer
{
	width: 100%;
	background-color: black;
	color: gray;
	text-align: center;
	font-size: smaller;
	padding: 15px 0;
}

div.base
{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	padding: 20px 0;
}

div.center
{
	margin-left: auto;
	margin-right: auto;
}

#container
{
	top: 70px;
	position: relative;
	background-color: white;
}

#avatar
{
	background-image: url("/img/avatar.jpg");
	background-size: contain;
	border-radius: 50%;
	width: 160px;
	height: 160px;
	box-shadow: 10px 10px 40px 0 rgba(0,0,0,0.5);
}

.details
{
	width: 70%;
	margin: 0 auto;
	border: 2px solid #F3F3F3;
	box-shadow: 0 0 0px 1px gray;
	background-color: #E6E6E6;
	border-radius: 10px;
	padding: 10px 30px;
}
	.details h3
	{
		margin: 20px 0 20px 0;
	}
	.details table
	{
		width: 70%;
		margin-left: 15%;
	}
		.details table tr
		{
			height: 140%;
		}
		.details table td:first-child 
		{
			font-family: OpenSans-Regular;
			font-weight: bolder;
		}
		.details table td:last-child 
		{
			text-align: right;
		}
	.details p
	{
		width: 70%;
		margin-left: 15%;
	}

