{{ partial "head.html" . }}
<div id="container">
	{{ partial "header.html" . }}
	{{ partial "navbar.html" . }}

	<header class="page-header">
	<div class="base">
		<h2><div class="triangle"></div> {{ .Title }}</h2>
	</div>
	</header>

	<div class="base">
		<p>Guitars are organized by type, e.g.: accoustic, steelstrings and electric guitars.</p>
	</div>

	<!-- Accoustic -->
	<div>
	<div class="base">
	<h3>Accoustic</h3>
	<div style="display: inline-block; width: 100%;">
        {{ range $index, $element := (where .Data.Pages "Params.guitar_type" "accoustic") }}
            {{ if modBool $index 2 }}
            	<div class="list-guitars alt">
            {{ else }}
            	<div class="list-guitars">
            {{ end}}

	       	{{ .Render "li"}}
	        </div>
        {{ end }}
	</div>
	</div>
	</div>

	<!-- Steelstring -->
	<div class="alt">
	<div class="base">
	<h3>Steelstring</h3>
	<div style="display: inline-block; width: 100%;">
        {{ range $index, $element := (where .Data.Pages "Params.guitar_type" "steelstring") }}
            {{ if modBool $index 2 }}
            	<div class="list-guitars alt">
            {{ else }}
            	<div class="list-guitars">
            {{ end}}

	       	{{ .Render "li"}}
	        </div>
        {{ end }}
	</div>
	</div>
	</div>

	<!-- Electric -->
	<div>
	<div class="base">
	<h3>Electric</h3>
	<div style="display: inline-block; width: 100%;">
        {{ range $index, $element := (where .Data.Pages "Params.guitar_type" "electric") }}
            {{ if modBool $index 2 }}
            	<div class="list-guitars alt">
            {{ else }}
            	<div class="list-guitars">
            {{ end}}

	       	{{ .Render "li"}}
	        </div>
        {{ end }}
	</div>
	</div>
	</div>
	{{ partial "footer.html" . }}
</div>
{{ partial "foot.html" . }}