{{ partial "head.html" . }}
<div id="container">
	{{ partial "header.html" . }}
	{{ partial "navbar.html" . }}

	<header class="page-header">
	<div class="base">
		<div class="triangle"></div>
		<h2>{{ .Title }}</h2>
	</div>
	</header>



	<div class="base">
		<p>Here is a list of auxiliary tools I crafted by hand to help me build guitars.</p>
	</div>
	<div class="base">
	<ul>
        {{ range $index, $element := .Data.Pages }}
        	<li>
        	<a href="{{ .Permalink }}">{{ $element.Title }}</a>
	       	</li>
        {{ end }}
    </ul>

	</div>
	{{ partial "footer.html" . }}
</div>
{{ partial "foot.html" . }}